<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/contentbox.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/boxshadow.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/sidebar.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/page_curl.css">
    {% block css %}{% endblock css %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="{{STATIC_URL}}js/redditmash.js"></script>
    {% block js %}{% endblock js %}
  </head>

  <body>
    <!-- <div class="gallery">
      <figure>
        <a href="javascript: void(0)">
            <img src="{{STATIC_URL}}/img/logo.png" alt="">
            <figcaption>
              <p><br><br><br>Gabriel Peal<br>Kashif Malik</p>
          </figcaption>
        </a>
      </figure>
    </div> -->
    <div class="letterpress2"><h1>redditmash</h1></div>
    <!-- <div class="sidebar">
      <ul class="cbul">
        <li class="cbli">
          <div class="box drop-shadow">
            <div class="sidebar-content">
                <p>This is a title of a post</p>
                <img class="sidebar-img" src="http://i.imgur.com/iTAx5.jpg">
            </div>
          </div>
        </li>
      </ul>
    </div> -->
    {% block content %}{% endblock content %}

  </body>

</html>
