<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/base.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/contentbox.css">
    {% block css %}{% endblock css %}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    {% block js %}{% endblock js %}
  </head>

  <body>
    <section class="gallery">
      <figure>
        <a href="#">
            <img src="{{STATIC_URL}}/img/reddit_logo.png" alt="">
            <figcaption>
                <h3>redditmash</h3>
                <p>Brought to you by:<br>Gabriel Peal and Kashif Malik</p>
            </figcaption>
        </a>
      </figure>
    </section>

    <div class="content">
      <ul class="cbul">
        <li class="cbli">
          <i class="icon post1"></i>
          <p class="cbp">Normalize Style Sheet</p>
          <a class="cba" href="#">Download</a>
        </li>
        <li class="cbli">
          <i class="icon post2"></i>
          <p class="cbp">Typography Poster</p>
          <a class="cba" href="#">Download</a>
        </li>
      </ul>
    </div>
  </body>

</html>
