{% extends 'base.html' %}
{% block content %}
<ul class="cbul">
  <li class="cbli">
    <i class="icon title1"></i>
    <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/qChpi.jpg">
    <a class="cba" id="left-vote-button" href="javascript: void(0)">Vote</a>
  </li>
  <li class="cbli">
    <i class="icon title2"></i>
    <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/MfeqL.jpg">
    <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
  </li>
</ul>
</div>

<div class="content chat">
<ul class="cbul">
  <li class="cbli chat-box">
    <div class="chat-div">
      <table class="chat-table">
        <tbody class="chat-messages">
        </tbody>
      </table>
    </div>
    <textarea class="chat-input-name" placeholder="Name"></textarea>
    <textarea class="chat-input" placeholder="Message"></textarea>
  </li>
</ul>
{% endblock %}
