{% extends 'base.html' %}
{% block js %}
    <script src="{{STATIC_URL}}js/imoapi-min-custom.js"></script>
    <script type="text/javascript">
    var global_ch_id = {{ch_id}}
    var global_u_id = {{u_id}}
    </script>
{% endblock js %}
{% block content %}

<div class="content">
  <ul class="cbul">
    <li class="cbli">
      <i class="icon {{ post_1.data_value }}" data-css="{{ post_1.data_value }}" data-title="{{ post_1.title }}"></i>
      <img class="cbimg page-curl shadow-bottom" src="{{ post_1.url }}">
      <a class="cba" id="left-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon {{ post_2.data_value }}" data-css="{{ post_2.data_value }}" data-title="{{ post_2.title }}"></i>
      <img class="cbimg page-curl shadow-bottom" src="{{ post_2.url }}">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
  </ul>
</div>

<div class="content chat">
  <ul class="cbul">
    <li class="cbli chat-box">
      <div class="chat-div">
        <table class="chat-table">
          <tbody class="chat-messages">
          </tbody>
        </table>
      </div>
      <textarea class="chat-input-name" placeholder="Name"></textarea>
      <textarea class="chat-input" placeholder="Message"></textarea>
    </li>
  </ul>
</div>
{% endblock content %}
