{% extends 'base.html' %}
{% block content %}
<div class="content">
  <ul class="cbul">
    <li class="cbli">
      <i class="icon title1"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/qChpi.jpg">
      <a class="cba" id="left-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/KKUxP.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/MfeqL.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/KKUxP.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/MfeqL.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/MfeqL.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/KKUxP.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
    <li class="cbli">
      <i class="icon title2"></i>
      <img class="cbimg page-curl shadow-bottom" src="http://i.imgur.com/MfeqL.jpg">
      <a class="cba" id="right-vote-button" href="javascript: void(0)">Vote</a>
    </li>
  </ul>
</div>
{% endblock content %}
